/*

Things to remember:

1. Always use proper indentation in your css and html
2. An "#" selector or 'id' will override a '.' selector or 'class'
3. A '.' selector will override a native selector, like 'div'

*/

/********************************/
/* Responsive *******************/
/********************************/

@media screen and (min-width: 400px) {
	#center_right{
		padding-right: 20px;
	}
}


@media screen and (min-width: 600px) {

	#left {
		display: block;
		background-color: white;
	}

	#center {
		padding-left: 123px;
		width: 100%;
		padding-right:123px;
	}

	#right {
		display: block;
		float: none;
		position: fixed;
		/* right: -123; */
		top: -20;
		z-index: -1;
		background-color: white;
}
}


@media screen and (min-width: 860) {

	#profile_circle {
		height: 9em;
		width: 9em;
	}

	.entry_circle {
		height: 9em;
		width: 9em;
	}

	.entry {
		height: 120px;
		width:570px;
		font-size: 1.2em;
		text-align: center;
		margin: 0 auto;
	}

	h1 {
		padding-top: 20px;
	}
}