/*

Things to remember:

1. Always use proper indentation in your css and html
2. An "#" selector or 'id' will override a '.' selector or 'class'
3. A '.' selector will override a native selector, like 'div'

*/

/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: 'Open Sans','Helvetica';
  font-size: 10px;
  color: #545454;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.col {
  float: left;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /*width:33%;*/
  /*border-style:solid;
  	border-width:1px;
  	border-color:rgb(240, 240, 252);
  	height: 100%;
  	background-color:#B46A6A;*/
}

.container {
  display: inline-block;
  width: 100%;
}

.entry {
  width: 100%;
  height: 80px;
  /*border-color: black;
	border-width: 1px;
	border-style: dotted;*/
}

.entry_circle {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 5px solid;
  border-color: black;
  display: block;
  position: relative;
  height: 60px;
  width: 60px;
  border-radius: 100%;
  margin: 0 auto;
}

#edit {
  border-color: rgb(208, 203, 203);
}

.top_nav {
  width: 100%;
  height: 35px;
  position: fixed;
  background-color: #383942;
  color: #daeafd;
  z-index: 2;
  display: inline-block;
}

.top_nav ul li {
  display: inline;
}

#top_nav_left {
  float: left;
  padding: 0 0 0 5px;
  text-align: right;
}

#location_nav h1 {
  color: rgb(249, 242, 242);
  padding: 8px 0 0 0;
  font-weight: 100;
  font-size: 1.7em;
}

.filters {
  position: fixed;
  top: 0;
  left: 200px;
  display: none;
}

.filters label {
  padding: 12px 20px;
  text-align: center;
  border-left: thin solid grey;
  border-right: thin solid grey;
  margin-left: -4px;
  /*  border-left-style:solid;
  border-right-style:solid;*/
}

#search_nav {
  position: fixed;
  top: 6px;
  right: 60px;
}

#loginBtn {
  line-height: 1.3em;
}

#search_nav input {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  background-color: rgb(218, 234, 233);
  border: none;
  line-height: 20px;
  padding-left: 10px;
  font-family: 'FontAwesome';
  width: 95px;
}

#search_nav input:focus {
  background-color: white;
  border: none;
  line-height: 20px;
  padding-left: 5px;
  outline: none;
  width: 200px;
}

#top_nav_right {
  padding: 10px 8px 0 0;
  position: fixed;
  top: 0;
  right: 0;
  cursor: pointer;
  cursor: hand;
}

.addOns {
  font-size: 1.5em;
  z-index: 5;
}

#right_icon {
  display: inline-block;
  float: right;
  padding: 2px 5px 0 0;
  cursor: pointer;
  cursor: hand;
}

#left_icon {
  display: inline-block;
  float: left;
  padding: 2px 0 0 5px;
  cursor: pointer;
  cursor: hand;
}

#video_background {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1000;
}

#left {
  padding: 0px 2px 0 0;
  width: 123px;
  height: 100%;
  position: fixed;
  left: -123;
  margin-left: -125px;
  text-align: right;
  transition: all .3s;
}

#center {
  /*background-color: #F0FFFF;*/
  /* border-color: black;
  border-width: 1px;
  border-style: dotted;*/
  width: 100%;
  height: 100%;
  transition: all .3s;
  padding: 30px 2px 0 2px;
}

#center ul {
  padding-top: 0;
  list-style-type: none;
  color: #aeacac;
  line-height: 0;
}

#right {
  width: 123px;
  height: 100%;
  position: fixed;
  margin-left: 28px;
  right: -123;
  top: -20;
  z-index: 1;
  text-align: left;
  transition: all .3s;
}

#center_left {
  width: 100%;
  text-align: center;
  position: relative;
  margin: 0 auto;
}

.outerRank {
  padding: 5px 20px 10px;
}

#leftBtn {
  float: left;
  margin: -19px 0 0 -28px;
  padding: 0 5px;
  height: 18px;
  line-height: 2.2px;
  opacity: .7;
}

#rightBtn {
  float: right;
  margin: -19px -29px 0 0;
  padding: 0 4px;
  height: 18px;
  line-height: 2px;
  opacity: .7;
}

#center_right {
  width: 70%;
  text-align: left;
}

#profile {
  margin-top: 10 0 0 0;
}

#profile h1 {
  color: rgb(82, 76, 76);
  padding: 10px 0 0 0;
}

#profile_circle img {
  /* background-color: black; */
  /*background-image: url('../images/profile_pic.jpg');*/
  background-size: contain;
  display: block;
  position: relative;
  height: 100px;
  width: 100px;
  border-radius: 100%;
  margin: 0 auto;
}

#profile_circle_profile img {
  /* background-color: black; */
  /*background-image: url('../images/profile_pic.jpg');*/
  background-size: contain;
  display: block;
  position: relative;
  width: 26px;
  border-radius: 100%;
  margin: 0 auto;
  top: -16px;
  right: 9px;
}

.clearfix {
  clear: both;
}

.icon_large {
  font-size: 2.5em;
}

input[type="radio"] {
  display: none;
}

input[type="radio"] + label {
  cursor: pointer;
  cursor: hand;
  color: lightgrey;
}

input[type="radio"]:checked + label {
  /* Do something special with the selected state */
  color: black;
  cursor: pointer;
  cursor: hand;
  background-color: lightslategray;
}

a {
  text-decoration: none;
  color: #3CB5DB;
  font-style: bold;
  font-weight: 700;
}

span {
  -webkit-transition: all .2s ease-in-out;
}

.top_nav span:hover {
  -webkit-transform: scale(1.1);
  color: white;
}

h1 {
  font-weight: 500;
  font-size: 2em;
  color: black;
  margin: 0 5px 5px 0;
}

#edit h1 {
  color: rgb(208, 203, 203);
}

.save-input {
  display: none;
  border: 1px solid #aeacac;
  padding: 0px 4px 0 4px;
}

.edit-new {
  font-weight: 500;
  font-size: 2em;
  color: black;
  margin: 15px 5px 5px 0;
}

h2 {
  font-style: bold;
  font-size: 1em;
  color: black;
  font-style: bold;
  margin-bottom: 7px;
  padding: 0 10px 0 0;
}

#edit h2 {
  color: rgb(208, 203, 203);
}

h3 {
  font-weight: 900;
  font-size: 1em;
  color: 3CB5DB;
  font-style: bold;
  margin-bottom: 40px;
}

ul {
  padding-top: 40px;
  list-style-type: none;
  line-height: 180%;
  color: #aeacac;
}

#bottomBar {
  margin: 0 5px 0 5px;
}

.progress {
  margin-bottom: 0;
  margin-top: 5px;
}

/* Right Hand Sidebar */

.sidebar-open-right {
  /*border-color: black;
  	border-width: 1px;
  	border-style: dotted;*/
}

.sidebar-open-right ul {
  padding-top: 5px;
  /*border-color: grey;
  	border-width: 1px;
  	border-style: dotted;*/
}

.sidebar-open-right #right,
.sidebar-open-right #center {
  transform: translateX(-123px);
  -webkit-transform: translateX(-123px);
  transition: all .3s;
}

.sidebar-open-right #sidebar-toggle-right {
  transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
}

/* Left Hand Sidebar */

#sidebar-toggle-left {
  transition: all .3s;
}

#sidebar-toggle-left:hover {
  -webkit-transform: scale(1.1);
}

.sidebar-open-left {
  /*border-color: grey;
  	border-width: 1px;
  	border-style: dotted;*/
}

.sidebar-open-left ul {
  padding-top: 0px;
  /*border-color: grey;
  	border-width: 1px;
  	border-style: dotted;*/
}

.sidebar-open-left #left,
.sidebar-open-left #center {
  transform: translateX(123px);
  -webkit-transform: translateX(123px);
  transition: all .3s;
}

.sidebar-open-left #sidebar-toggle-left {
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transition: all .3s;
}

.about {
  display: none;
}

/*Start of Grid CSS*/

.grid {
  background-color: #F0FFFF;
  border-color: black;
  border-width: 1px;
  border-style: dotted;
}

.signup {
  padding: 100px;
  text-align: center;
}

#makeCenter {
  margin: 0 auto;
  text-align: center;
}

li img {
  width: 100%;
  margin-bottom: -96px;
  transition: all .3s;
}

li i {
  padding: 0 8px 0 8px;
  color: white;
  text-shadow: 1px 1.5px 2px rgb(95, 86, 86);
  transition: all .3s;
}

.showOverall {
  font-size: 30px;
  color: black;
  opacity: .5;
  line-height: 1;
  border: thin solid lightgrey;
  padding: 24px;
  font-weight: 100;
  background-color: lightgrey;
  display: none;
  margin-top: -28px;
}

.textBackground {
  background-color: rgb(17, 16, 16);
  opacity: 50;
  height: 20px;
  top: 76px;
  opacity: .5;
  position: relative;
}

figure {
  float: left;
  width: 100px;
  height: 100px;
  margin: 0 2px 4px 3px;
  background-color: lightblue;
}

.person {
  display: inline-table;
  width: 100px;
  height: 100px;
  margin: 0 3px 3px 0;
  background-color: lightblue;
  transition: all .3s;
}

.person p {
  text-align: center;
  padding: 2% 0 2% 0;
  top: 63px;
  position: relative;
  color: #FCFCFF;
  width: 100px;
  margin: 0 auto;
}

.person:hover {
  background-color: rgb(178, 178, 224);
  transform: scale(1.1);
  transition: all .3s;
  -webkit-transform: scale(1.1);
}

.grid .item-w2 {
  width: 40%;
  background: #ED9393;
}

.grid .item-h2 {
  height: 322px;
  background: #7CB744;
}

.grid .item-h3 {
  height: 485px;
  background: #38B5E5;
}

.isotope .isotope-item {
  transition-duration: 0.8s;
  transition-property: transform, opacity;
}

/*End of Grid CSS*/