 <div class='modal fade' id="createModal" ng-controller='peopleCtrl'>
  <div class="modal-dialog createModal">
    <div class="modal-content">
<!-- MODAL BODY -->
      <div class="modal-body">
        <i class="fa fa-times-circle icon_large" id='leaveModal' ng-click="cancelCreateModal()"></i>
<!-- FORM -->
        <form ng-controller='LoginCtrl' ng-submit="createCourse(fullNameFromView, pictureURLFromView, websiteFromView, phoneNumberFromView, addressFromView, priceFromView, admittanceFromView)" id='courseCreateForm'>
          <h2>Submit Golf Course</h2>
          <input class='col-xs-12' name="fullNameFromView" placeholder="Course Name" ng-model="fullNameFromView">
          <input class='col-xs-12' name='pictureURLFromView' Placeholder='Profile Picture URL' ng-model='pictureURLFromView'>
          <input class='col-xs-12' name="websiteFromView" placeholder="Website" ng-model="websiteFromView">
          <input class='col-xs-12' name="phoneNumberFromView" placeholder="Phone Number" ng-model="phoneNumberFromView">
          <input class='col-xs-12' name="addressFromView" placeholder="Address" ng-model="addressFromView">
          <input class='col-xs-12' name="priceFromView" placeholder="Price" ng-model="priceFromView">
          <input class='col-xs-12' name="admittanceFromView" placeholder="Admitance" ng-model="admittanceFromView">

          <button type='submit'class='btn btn-xs' id='submitBtn'>Submit</button>
        </div><!-- /.row -->
<!-- MODAL-FOOTER DOESN'T DISPLAY ANYTHING BUT IS REQUIRED ??? 
        <div class="modal-footer">
        </div> -->
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->