
<!-- Main Section -->

  <div class="col" id="center" ng-controller='peopleCtrl'>

<!-- Grid Items -->
    <ul id = 'makeCenter'>
       <li class="person" ng-repeat='person in people | filter:search'>
         <img class='img' ng-src="{{person.picture}}" ng-click="setPerson(person)"> 
          <div class='textBackground'>
            <div class='addOns'>
              <a ng-href='{{person.link}}'><i class="fa fa-bolt" id='left_icon'></i></a>
              <i class="fa fa-comments" id='right_icon'></i>
            </div>
          </div>
              <p>{{person.firstName}}</p>
          
       </li>
    </ul>

    <div jds-popup="img"></div>

    

    <script src='/scripts/main.js'></script>

</div>
