
<!-- Main Section -->
    
     <div class="col" id="center" ng-controller='peopleCtrl'>

<!-- Grid Items -->
        <ul id = 'makeCenter'>
        
           <li class="person" ng-repeat='person in people'>
             
              <img ng-src="{{person.picture}}" ng-click="setPerson(person)"> 
              <div class='textBackground'></div>
              <p>{{person.firstName}}</p>
              <div class='addOns'>
                <a ng-href='{{person.link}}'><i class="fa fa-bolt icon_large"></i></a>
                <i class="fa fa-comments icon_large"></i>
              
            
              </div>
            </li>

            <div jds-popup="img">
                  {{ selectedPerson }}
                  
            </div>

        </ul>  

    </div>

    <script src='/scripts/main.js'></script>

<!-- <div class="jumbotron">
  <h1>'Allo, 'Allo!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#">Splendid!</a></p>
</div>

<div class="row marketing">
  <h4>HTML5 Boilerplate</h4>
  <p>
    HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
  </p>

  <h4>Angular</h4>
  <p>
    AngularJS is a toolset for building the framework most suited to your application development.
  </p>

  <h4>Karma</h4>
  <p>Spectacular Test Runner for JavaScript.</p> 
</div>-->


