<div class='modal fade' id="modal" ng-controller='threadCtrl'>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{selectedPerson.firstName}} {{selectedPerson.lastName}} </h4>
      </div>


      <div class="modal-body">
<!-- DISPLAY PERSONAL INFO -->
        <p>Name: {{selectedPerson.firstName}} {{selectedPerson.lastName}}</p>
        <p>Age: {{ selectedPerson.age }}</p>
        <p>Bank: {{ selectedPerson.bank }}</p>
        <p>Comments:</p>
        <p>{{ selectedPerson.comments }}</p>
        <p>Email: {{ selectedPerson.email }}</p>
        <p>Tags:</p>
        <p>{{ selectedPerson.random }}</p>
<!-- DISPLAY THREADS -->
        <div class='threads' ng-repeat='thread in threads'>
        </div>
<!-- INPUT -->
        <h2>{{threadFromView}}</h2>
        <input type='text' name="threadFromView" placeholder='New Thread' id='threadFromView' ng-model="threadFromView">
        <button class='btn btn-xs' ng-click="threadCreate(threadFromView)">submit thread</button>      



      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
