<!-- <div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Home</a></li>
    <li><a ng-href="#">About</a></li>
    <li><a ng-href="#">Contact</a></li>
  </ul>
  <h3 class="text-muted">Open Apparatus</h3>
</div> -->

<div class="top_nav">
    <div id="top_nav_left">
      <img src="../images/Logo_Light_35.png" id="sidebar-toggle-left"/>
      <div class='sidebar-open-left' id='left'>
          <ul>
            <li>Link #1</li>
          </ul>
        </div>

    </div>

    <div class='input-group' id='location_nav'>
      <h1>{{locationName}}</h1>
    </div>

    <div id='search_nav'>

      <input type='search' ng-model='search' placeholder="&#xF002;">
    </div>

    <div>{{search}}</div>
        

    <div id="top_nav_right">

      <span class="fa fa-bars icon_large" id="sidebar-toggle-right"></span>

        <div class='sidebar-open-right' id='right'>
            <ul>
              <li>Link #1</li>
            </ul>
        </div>

    </div>

  </div>